* {
    box-sizing: border-box;
}
html, 
body {
    height: 100%;
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    position: relative;

}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1440px;
    margin: auto;
}

/* header */

.header__content {
    padding: 15px;
    background-color: #BDAE82;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header__title {
    font-size: 35px;
}

.header__placeholder {
    position: relative;
}

.placeholder__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 10px;
    width: 25px;
    height: 25px;
    background-size: cover;
    cursor: pointer;
}

.placeholder__search, .select__color {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 15px;
    box-sizing: border-box;
}

select {
    margin-left: 25%;
}
/* main */
main {
    flex: 1 1 auto;
}
.gallery {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.gallery__img {
    width: 300px;
    height: 350px;
    margin: 0;
    object-fit: cover;
    cursor: pointer;
}

/* footer */
.footer__content {
    font-size: 20px;
    padding: 5px;
    background-color: #BDAE82;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rss_link > img {
    border: 1px dotted grey;
}

/* big-size gallery */

.gallery-big-block {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.wrapper-bigPhoto-btn-close {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-big-size-photo {
    max-width: 1200px;
    max-height: 830px;
}

.btn {
    font-size: 80px;
    color: #BDAE82;
    cursor: pointer;
    text-shadow: 1px 0 17px rgba(0, 0, 0, 0.651), 
    0 1px 17px rgba(0, 0, 0, 00.651), 
    -1px 0 17px rgba(0, 0, 0, 0.651), 
    0 -1px 17px rgba(0, 0, 0, 0.651);
}

.d-none {
    display: none;
}

.blur-10 {
    filter: blur(10px);
}

@media (max-width: 600px) {
    .header__title {
        display: none;
    }
}